@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
}

body {
  /* Using the CSS variable defined by Next.js in layout.tsx */
  font-family: var(--font-body); 
}

h1, h2, h3, h4, h5, h6 {
  /* This ensures headings use the proper font */
  font-family: var(--font-heading); 
}